<table class="table table-striped">
  <thead>
  <tr>
    <th>username</th>
    <th>email</th>
    <th>type</th>
    <th>action</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let user of users | paginate : {itemsPerPage: 10, currentPage: page}">
    <td>{{user.username}}</td>
    <td>{{user.email}}</td>
    <!--dropdown-->
    <!-- Example split danger button -->
    <td>
      <div class="btn-group">
        <button type="button" class="btn btn-primary">{{user.type}}</button>
        <button type="button" class="btn btn-primary dropdown-toggle dropdown-toggle-split" data-toggle="dropdown"
                aria-haspopup="true"
                aria-expanded="false">
          <span class="sr-only">Toggle Dropdown</span>
        </button>

        <div class="dropdown-menu">
          <ng-container *ngFor="let userType of userTypes">
            <ng-container *ngIf="userType !== user.type">
              <a class="dropdown-item" (click)="addData(user, userType)">{{userType}}</a>
            </ng-container>
            <!-- <a (ngModel)="user.type" class="dropdown-item">Action</a>
        <a class="dropdown-item">Another action</a>
        <a class="dropdown-item">Something else here</a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item">Separated link</a> -->
          </ng-container>
        </div>
      </div>

    </td>
    <td>
      <button class="btn btn-danger" (click)="deleteUser(user)">Delete</button>
    </td>
  </tr>
  <div>boundaryLinks = true</div>
  <pagination-controls (pageChange)="page =$event"></pagination-controls>
  <!--<ngb-pagination [collectionSize]="70" [(page)]="product" [boundaryLinks]="true"></ngb-pagination>-->

  </tbody>
</table>
