<table class="table table-striped">
  <thead>
  <tr>
    <th>username</th>
    <th>email</th>
    <th>type</th>
    <th>action</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let user of users | paginate : {itemsPerPage: 10, currentPage: page}">
    <td>{{user.username}}</td>
    <td>{{user.email}}</td>
    <td *ngIf="!editMode">{{user.type}}</td>
    <!--dropdown-->
    <td *ngIf="editMode">
      <!-- Example split danger button -->
      <div class="btn-group">
        <button type="button" class="btn btn-danger">Action</button>
        <button type="button" class="btn btn-danger dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <span class="sr-only">Toggle Dropdown</span>
        </button>
        <div class="dropdown-menu">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <a class="dropdown-item" href="#">Something else here</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Separated link</a>
        </div>
      </div>



    </td>
    <td *ngIf="!editMode">
      <button class="btn btn-danger" (click)="deleteUser(user)">Delete</button>
      <button class="btn btn-default" (click)="edit()">Edit role</button>
    </td>
    <td *ngIf="editMode">
      <button class="btn btn-default" (click)="cancel()">Cancel</button>
    </td>
  </tr>
  <div>boundaryLinks = true</div>
  <pagination-controls (pageChange)="page =$event"></pagination-controls>
  <!--<ngb-pagination [collectionSize]="70" [(page)]="product" [boundaryLinks]="true"></ngb-pagination>-->

  </tbody>
</table>


<app-ngbd-dropdown-manual></app-ngbd-dropdown-manual>








