<!--for 1 error-->
<script type="text/javascript" src="inline.bundle.js"></script>
<script type="text/javascript" src="scripts.bundle.js"></script>
<script type="text/javascript" src="styles.bundle.js"></script>
<script type="text/javascript" src="vendor.bundle.js"></script>
<script type="text/javascript" src="main.bundle.js"></script>


<nav class="navbar navbar-toggleable-md navbar-light bg-primary">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
          aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav">
      <a class="nav-link" id="homeImgAnchor" routerLink="home">
        <img id="homeImg" [src]="getHomeImage()">
      </a>
      <li>
        <button type="button" class="btn btn-default blue-btn navbar-brand" (click)="openContent()">Navigate through
          pages
        </button>
        <span class="glyphicon glyphicon"></span>
      </li>
      <li class="nav-item dropdown">
        <a class="dropdown-toggle navbar-brand" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown"
           aria-haspopup="true" aria-expanded="false">
          Pages
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="nav-link" routerLink="home">Home</a>
          <a class="nav-link" routerLink="app-donate-something">donate something</a>
          <a class="nav-link" routerLink="app-donate">manage donations</a>
          <a class="nav-link" routerLink="app-chat">Chat</a>
          <a class="nav-link" routerLink="manage-users">manage users</a>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="dropdown-toggle navbar-brand" href="#" id="chooseLanguages" data-toggle="dropdown"
           aria-haspopup="true" aria-expanded="false">
          Languages
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="nav-link" id="germanyFlagAnchor" (click)="switchToGerman()">
            Deutsch
          </a>
          <a class="nav-link" id="britishFlagAnchor" (click)="switchToEnglish()">
            English
          </a>
        </div>
      </li>
      <ng-container>
        <!--<li (click)="logout()">-->
        <!--<a class="nav-link" id="britishFlagAnchor" routerLink="LogIn">-->
        <!--<img id="britishFlagImg" [src]="getBritishFlagImage()" (click)="switchToEnglish()">-->
        <!--</a>-->
        <!--</li>-->
        <!--<li (click)="logout()">-->
        <!--<a class="nav-link" id="germanyFlagAnchor" routerLink="LogIn">-->
        <!--<img id="germanyFlagImg" [src]="getGermanyFlagImage()" (click)="switchToGerman()">-->
        <!--</a>-->
        <!--</li>-->
        <li *ngIf="isSession()" (click)="logout()">
          <a class="nav-link" id="logout">
            <img routerLink="LogIn" id="logoutImg" [src]="getLogoutImage()">
          </a>
        </li>
        <li *ngIf="!isSession()" (click)="logout()">
          <a class="nav-link" id="login">
            <img routerLink="LogIn" id="loginImg" [src]="getLoginImage()">
          </a>
        </li>
      </ng-container>
    </ul>

  </div>

</nav>


<hr>
<div *ngIf="openNavigation" class="horizontal-collapse" uib-collapse="isCollapsedHorizontal" horizontal>
  <table>
    <tr>
      <td><a class="nav-link" routerLink="home">Home</a>
      </td>
      <td>
        <a class="nav-link" id="navigateAnchor" routerLink="home">
          <img class="classNavigate " [src]="getNavigateImage()">
        </a>
      </td>
    </tr>
    <tr>
      <td>
        <a class="nav-link" routerLink="app-donate-something">donate something</a>
      </td>
      <td>
        <a class="nav-link" routerLink="home">
          <img class="classNavigate " [src]="getNavigateImage()">
        </a>
      </td>
    </tr>
    <tr>
      <td>
        <a class="nav-link" routerLink="app-donate">manage donations</a>
      </td>
      <td>
        <a class="nav-link" routerLink="home">
          <img class="classNavigate " [src]="getNavigateImage()">
        </a>
      </td>
    </tr>
    <tr>
      <td>
        <a class="nav-link" routerLink="app-donate">manage donations</a>
      </td>
      <td>
        <a class="nav-link" routerLink="home">
          <img class="classNavigate " [src]="getNavigateImage()">
        </a>
      </td>
    </tr>
    <tr>
      <td>
        <a class="nav-link" routerLink="app-chat">Chat</a>
      </td>
      <td>
        <a class="nav-link" routerLink="home">
          <img class="classNavigate " [src]="getNavigateImage()">
        </a>
      </td>
    </tr>
    <tr>
      <td>
        <a class="nav-link" routerLink="manage-users">manage users</a>
      </td>
      <td>
        <a class="nav-link" routerLink="home">
          <img class="classNavigate " [src]="getNavigateImage()">
        </a>
      </td>
    </tr>
  </table>

  <a class="nav-link" id="contente2">
    contente2
  </a>
</div>



