//.navbar {
//  background-color: #337ab7;
//  border-color: #2e6da4;
//  .navbar-brand {
//    // color: #000000a3;
//    color: #fff;
//    // color: rgba(0, 0, 0, 0.911);
//  }
//  a {
//    color: #fff;
//    .selector {
//      background: red;
//    }
//  }
//}

#switchLanguage, #login, .navbar-brand, #logout {
  color: white;
  hover {
    background-color: #ff3e19;
  }
}

a, li {
  padding: 0%;
}

#logoutImg, #loginImg {
  width: 6%;
  //margin-left: 178%;
}

#homeImg {
  width: 70%;
  height: 80%;
  padding: 0%;
}

#homeImgAnchor {
  width: 5%;
  padding: 0%;
}

#germanyFlagImg {
  width: 5%;
  //margin-left: 130%;
  //z-index: 100;
  //position: absolute;
}

#britishFlagImg {
  width: 25%;
  //margin-left: 620%;
}


#navigation_layout{
  position:relative;
  sdev: 50%;
}


@media screen and (min-width: 480px) {
  body {
    background-color: lightgreen;
  }
}



//
//#navigation_layout {
//  width: 100%;
//  float: left;
//  margin: 0 0 3em 0;
//  padding: 0;
//  list-style: none;
//  /* background-color: #000000; */
//  border-bottom: 1px solid #ffffff;
//  border-top: 1px solid #ffffff;
//}
//
//#navigation_layout li {
//  float: left;
//  background-color: black;
//}
