<nav class="navbar navbar-toggleable-md navbar-light bg-primary">
  <div>
    <ul class="navbar-nav">
      <a class="nav-link" id="homeImgAnchor" routerLink="home">
        <img id="homeImg" [src]="getHomeImage()">
      </a>
      <li>
        <div class="dropdown navbar-brand">
          <span>Navigate through pages</span>
          <div class="dropdown-content">
            <a class="nav-link" routerLink="home">Home</a>
            <!--<a class="nav-link" routerLink="app-donate-something">donate something</a>-->
            <!--<a class="nav-link" routerLink="app-donate">manage donations</a>-->
            <a class="nav-link" routerLink="app-chat">Notifications</a>
            <a *ngIf="isSession() && !userHasCOmpany()" class="nav-link"
               (click)="openModal()">create company</a>
            <a *ngIf="isSession() && userHasCOmpany()" class="nav-link" routerLink="manage-company">manage company</a>
            <a class="nav-link" routerLink="manage-users">manage users</a>
          </div>
        </div>
      </li>
      <li>
        <div class="dropdown navbar-brand">
          <span> Languages</span>
          <div class="dropdown-content">
            <a class="nav-link" id="germanyFlagAnchor" (click)="switchToGerman()">
              Deutsch
            </a>
            <a class="nav-link" id="britishFlagAnchor" (click)="switchToEnglish()">
              English
            </a>
          </div>
        </div>
      </li>
      <ng-container>
        <li *ngIf="isSession()" (click)="logout()">
          <a class="nav-link" id="logout">
            <img routerLink="LogIn" id="logoutImg" [src]="getLogoutImage()">
          </a>
        </li>
        <li *ngIf="!isSession()" (click)="logout()">
          <a class="nav-link" id="login">
            <img routerLink="LogIn" id="loginImg" [src]="getLoginImage()">
          </a>
        </li>
      </ng-container>
    </ul>

  </div>

</nav>


<img id="backgroundImg" [src]="getBackgroundImg()">

<!--modal-->
<div class="container">
  <!-- Trigger the modal with a button -->
  <button hidden id="openModalBtnHeader" type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModalHeader">
    Open Modal
  </button>

  <!-- Modal -->
  <div class="modal fade" id="myModalHeader" role="dialog">
    <div class="modal-dialog">

      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-body">
          <p>Are you sure that you want to create a company?</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
          <button routerLink="manage-company" type="button" class="btn btn-success" data-dismiss="modal"
                  (click)="createCompany()">Create
          </button>
        </div>
      </div>

    </div>
  </div>


</div>
