<div class="modal-body row">
  <!--left-->
  <div class="col-xs-12 col-sm-6">

    <table class="table">
      <thead class="thead-default">
      <tr>
        <th>read</th>
        <th scope="col" id="date">date</th>
        <th scope="col" id="from">from</th>
        <th scope="col" id="msg">message</th>
      </tr>
      </thead>
      <tbody>
      <ng-container
        *ngFor="let notification of filterNotifications() | paginate : {itemsPerPage: 5, currentPage: notification}">
        <tr *ngIf="toThisUser(notification)">
          <td><input type="checkbox" [checked]="notification.read" [disabled]="notification.read"
                     (click)="notificationRead(notification)"></td>
          <td scope="col">{{notification.notificationTime | date }}</td>
          <td scope="col">{{notification.usernameFrom}}</td>
          <td scope="col"> {{notification.message}}</td>
        </tr>
      </ng-container>
      </tbody>
    </table>
    <pagination-controls (pageChange)="notification =$event"></pagination-controls>
  </div>


  <!--right-->
  <div class="col-xs-12 col-sm-6">
    <form class="form-inline d-flex dropdown">
      <input autocomplete="off" class="form-check-input" type="text" placeholder="Message to" id="menu1"
             data-toggle="dropdown"
             name="usernameToSend" [(ngModel)]="usernameToSend">
      <ul class="dropdown-menu" role="menu" aria-labelledby="menu1">
        <ng-container *ngFor="let user of filteredUsers">
          <li class="dropdown-item" (click)="autoCompleteAfterClick(user.username)">{{user.username}}</li>
          <!--<li role="presentation"><a role="menuitem" tabindex="-1">{{user.username}}</a></li>-->
        </ng-container>
      </ul>
    </form>

    <textarea id="sendMsgArea" class="form-control" name="paragraph_text" cols="50"
              rows="10" name="companyDescriptionInput" [(ngModel)]="message"></textarea>
    <button class="btn btn-default" type="submit" (click)="checkUser()">Send notification</button>
  </div>

</div>

