<div *ngIf="!emailSent">
  <label>enter your email:</label>
  <input class="input-sm" placeholder="enter email" [(ngModel)]="emailToSend">
  <button class="btn btn-primary" (click)="submit()">Send</button>
</div>


<div *ngIf="emailSent">
  <!--after the email was sent-->

  <form class="form-horizontal" action='' method="POST">
    <fieldset>
      <div class="control-group">
        <!-- Username -->
        <label class="control-label" for="registerUsername">Username</label>
        <div class="controls">
          <input type="text" id="registerUsername" name="username" placeholder="username" class="input-sm"
                 [(ngModel)]="username">
        </div>
      </div>
      <!--old password-->
      <label class="control-label">Old Password</label>
      <div class="controls">
        <input type="password" id="old_pass" name="password" placeholder="old password" class="input-sm"
               [(ngModel)]="oldPassword">
        <p class="help-block">Password should be at least 4 characters</p>
      </div>
      <!-- Password-->
      <label class="control-label">New Password</label>
      <div class="controls">
        <input type="password" id="new_pass" name="password" placeholder="new password" class="input-sm"
               [(ngModel)]="newPassword">
        <p class="help-block">Password should be at least 4 characters</p>
      </div>

      <div class="control-group">
        <!-- Password -->
        <label class="control-label">New Password (Confirm)</label>
        <div class="controls">
          <input type="password" id="new_pass_confirm" name="password_confirm" placeholder="confirm new password"
                 pattern="[^ @]*@[^ @]*"
                 class="input-sm" [(ngModel)]="newPasswordConfirm">
          <p class="help-block">Please confirm password</p>
        </div>
      </div>

      <div class="text-left">
        <span type="submit" class="btn btn-primary" (click)="changePass()"><span
        ></span>Change password</span>
      </div>
    </fieldset>
  </form>
</div>















