<div *ngIf="!emailSent">
  <br>
  <label>{{this.translate.getTranslatedItem('enter your email')}}:</label>
  <input class="input-sm" [placeholder]="this.translate.getTranslatedItem('enter your email')"
         [(ngModel)]="emailToSend">
  <button class="btn btn-primary" (click)="submit()">{{this.translate.getTranslatedItem('Send')}}</button>
</div>


<div *ngIf="emailSent">
  <!--after the email was sent-->

  <form class="form-horizontal" action='' method="POST">
    <fieldset>
      <div class="control-group">
        <!-- Username -->
        <label class="control-label" for="registerUsername">{{this.translate.getTranslatedItem('Username')}}</label>
        <div class="controls">
          <input type="text" id="registerUsername" name="username"
                 [placeholder]="this.translate.getTranslatedItem('Username')" class="input-sm"
                 [(ngModel)]="username">
        </div>
      </div>
      <!--old password-->
      <label class="control-label">{{this.translate.getTranslatedItem('OldPassword')}}</label>
      <div class="controls">
        <input type="password" id="old_pass" name="password"
               [placeholder]="this.translate.getTranslatedItem('OldPassword')" class="input-sm"
               [(ngModel)]="oldPassword">
      </div>
      <!-- Password-->
      <label class="control-label">{{this.translate.getTranslatedItem('New Password')}}</label>
      <div class="controls">
        <input type="password" id="new_pass" name="password"
               [placeholder]="this.translate.getTranslatedItem('New Password')" class="input-sm"
               [(ngModel)]="newPassword">
      </div>

      <div class="control-group">
        <!-- Password -->
        <label class="control-label">{{this.translate.getTranslatedItem('New Password (Confirm)')}}</label>
        <div class="controls">
          <input type="password" id="new_pass_confirm" name="password_confirm"
                 [placeholder]="this.translate.getTranslatedItem('New Password (Confirm)')"
                 pattern="[^ @]*@[^ @]*"
                 class="input-sm" [(ngModel)]="newPasswordConfirm">
        </div>
      </div>

      <div class="text-left">
        <span type="submit" class="btn btn-primary" (click)="changePass()"><span
        ></span>{{this.translate.getTranslatedItem('Change password')}}</span>
      </div>
    </fieldset>
  </form>
</div>


<!--modal-->
<div class="container">
  <!-- Trigger the modal with a button -->
  <button hidden id="openModalBtnResetPassword" type="button" class="btn btn-info btn-lg" data-toggle="modal"
          data-target="#myModalResetPassword">
    Open Modal
  </button>

  <!-- Modal -->
  <div class="modal fade" id="myModalResetPassword" role="dialog">
    <div class="modal-dialog">

      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-body">
          <p>{{modalMessage}}</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
        </div>
      </div>

    </div>
  </div>


</div>







