<p></p>


<!--dropdown-->
<div class="dropdown">
  <span class="btn btn-primary">{{this.translateService.getTranslatedItem('searchDropDown.'+selectedItem)}}</span>
  <div class="dropdown-content">
    <ng-container *ngFor="let item of dropDownItems">
      <ng-container *ngIf="item !== selectedItem">
        <a (click)="changeSelectedItem(item)" class="dropdown-item">{{this.translateService.getTranslatedItem('searchDropDown.'+item)}}</a>
      </ng-container>
    </ng-container>
  </div>
</div>
<div class="row">
  <div class="col-md-4 col-md-offset-3">
    <form action="" class="search-form">
      <div class="form-group has-feedback">
        <label for="search" class="sr-only">Search</label>
        <input autocomplete="off" type="text" class="form-control" name="search" id="search" placeholder="search"
               [(ngModel)]="searchInput">
      </div>
    </form>
  </div>
</div>


<table class="table">
  <thead class="thead-default">
  <tr>
    <th scope="col">{{this.translateService.getTranslatedItem(tableHeaders[1])}}</th>
    <th scope="col" id="IT">{{this.translateService.getTranslatedItem(tableHeaders[0])}} <i (click)="OnSort(0)"
                                                                                            [ngClass]="(ascendingSort)?'up':'down'"></i>
    </th>
    <th scope="col">{{this.translateService.getTranslatedItem(tableHeaders[2])}} <i (click)="OnSort(2)"
                                                                                    [ngClass]="(ascendingSort)?'up':'down'"></i>
    </th>
    <th scope="col">{{this.translateService.getTranslatedItem(tableHeaders[3])}} <i (click)="OnSort(3)"
                                                                                    [ngClass]="(ascendingSort)?'up':'down'"></i>
    </th>
    <th scope="col">{{this.translateService.getTranslatedItem(tableHeaders[4])}} <i (click)="OnSort(4)"
                                                                                    [ngClass]="(ascendingSort)?'up':'down'"></i>
    </th>
    <th class="setWidthTo20" scope="col">{{this.translateService.getTranslatedItem(tableHeaders[5])}}
      <i (click)="OnSort(5)" [ngClass]="(ascendingSort)?'up':'down'"></i></th>
    <th class="setWidthTo20" scope="col">contact
      <i (click)="OnSort(6)" [ngClass]="(ascendingSort)?'up':'down'"></i></th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let company of companies | paginate : {itemsPerPage: 5, currentPage: company}">
    <ng-container *ngIf="company.name">
      <td><img [src]="company.image" alt="photo" height="50"/></td>
      <td scope="col">{{company.name}}</td>
      <td scope="col">{{company.description}}</td>
      <td scope="col">{{company.email}}</td>
      <td scope="col">{{company.address}}</td>
      <td scope="col">{{company.category}}</td>
      <td scope="col">{{company.contact}}</td>
    </ng-container>
  </tr>
  </tbody>
</table>
<pagination-controls (pageChange)="company =$event"></pagination-controls>









