<p>You can manage the donations if you have the rights.

  sa adaug la produs inca un field care sa fie : denumirea produsului


</p>
<p> sa adaug la produs inca un field care sa fie : denumirea produsului + un produs o sa aiba o poza principala si mai
  multe poze secundare (optionale)</p>

<p>sa fac search/filter</p>
<p>modal in care sa imi apara toate pozele daca dau click pe cevas</p>
<p>paginare + status la produs (alegere in functie de status)</p>

<input type="file" class="btn btn-default" (change)="onFileSelected($event)">
<button class="btn-default" (click)="uploadFile()"></button>
<table class="table table-striped">
  <thead>
  <tr>
    <th>imange</th>
    <th>descrption</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let product of products | paginate : {itemsPerPage: 2, currentPage: product }">
    <td><img [src]="product.image"/></td>
    <td>{{product.description}}</td>
  </tr>
  <div>boundaryLinks = true</div>
  <pagination-controls (pageChange)="product =$event"></pagination-controls>
  <!--<ngb-pagination [collectionSize]="70" [(page)]="product" [boundaryLinks]="true"></ngb-pagination>-->

  </tbody>
</table>


<br>
<br>
<div class="container">
  <h2>Modal Example</h2>
  <!-- Trigger the modal with a button -->
  <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">Open Modal</button>

  <!-- Modal -->
  <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">

      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Modal Header</h4>
        </div>
        <div class="modal-body">
          <p>Some text in the modal.</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>

    </div>
  </div>

</div>
