<div class="container">
  <div class="row">
    <!--left-->
    <div class="col-xs-12 col-sm-6">
      <form *ngIf="!loading">
        <div class="form-group">
          <legend class="">{{this.translateService.getTranslatedItem('Login')}}</legend>
          <label for="loginUsername">{{this.translateService.getTranslatedItem('Username')}}</label>
          <input class="form-control" id="loginUsername"
                 [placeholder]="this.translateService.getTranslatedItem('Username')" name="username"
                 [(ngModel)]="loginUsername">
        </div>
        <div class="form-group">
          <label for="loginPassword">{{this.translateService.getTranslatedItem('Username')}}</label>
          <input type="password" class="form-control" id="loginPassword" name="password"
                 [placeholder]="this.translateService.getTranslatedItem('Username')"
                 [(ngModel)]="LoginPassword">
        </div>
        <div *ngIf="errorMessageLogin" class="alert-danger alert">{{errorMessageLogin}}</div>
        <div class="text-left">
        <span type="submit" class="btn btn-primary" (click)="login()"><span
          class="fa fa-user-circle-o"></span>{{this.translateService.getTranslatedItem('Login')}}</span>
        </div>
      </form>
      <div class="loading" *ngIf="loading">
        Loading ...
      </div>
      <!--<span i18n="passwordrecover"></span>-->
      <!--<ng-container i18n>passwordrecover</ng-container>-->
      <a routerLink="/reset-password"><span
        class="red">{{this.translateService.getTranslatedItem('forgot_password')}}</span></a>
    </div>
    <div class="col-xs-12 col-sm-6">

      <!--right-->
      <form class="form-horizontal" action='' method="POST">
        <fieldset>
          <div id="legend">
            <legend class="">{{this.translateService.getTranslatedItem('Register')}}</legend>
          </div>
          <div class="control-group">
            <!-- Username -->
            <label class="control-label"
                   for="registerUsername">{{this.translateService.getTranslatedItem('Username')}}</label>
            <div class="controls">
              <input type="text" id="registerUsername" name="username"
                     [placeholder]="this.translateService.getTranslatedItem('Username')" class="form-control"
                     [(ngModel)]="registerUsername">
            </div>
          </div>
          <div class="control-group">
            <!--email-->
            <label class="control-label"
                   for="registerPassword">{{this.translateService.getTranslatedItem('Email')}}</label>
            <div class="controls">
              <input type="email" id="registerEmail" name="email"
                     [placeholder]="this.translateService.getTranslatedItem('Email')" class="form-control"
                     [(ngModel)]="registerEmail">
            </div>
          </div>
          <!-- Password-->
          <label class="control-label"
                 for="registerEmail">{{this.translateService.getTranslatedItem('Password')}}</label>
          <div class="controls">
            <input type="password" id="registerPassword" name="password"
                   [placeholder]="this.translateService.getTranslatedItem('Password')" class="form-control"
                   [(ngModel)]="registerPassword">
          </div>

          <div class="control-group">
            <!-- Password -->
            <label class="control-label" for="password_confirm">{{this.translateService.getTranslatedItem('ConfirmPassword')}}</label>
            <div class="controls">
              <input type="password" id="password_confirm" name="password_confirm"
                     [placeholder]="this.translateService.getTranslatedItem('ConfirmPassword')"
                     pattern="[^ @]*@[^ @]*"
                     class="form-control" [(ngModel)]="confirmPassword">
              <p class="help-block">Please confirm password</p>
            </div>
          </div>

          <div *ngIf="errorMessageRegister && !registerSuccessMsg" class="alert-danger">{{errorMessageRegister}}</div>
          <div *ngIf="registerSuccessMsg" class="alert-success">
            {{this.translateService.getTranslatedItem('RegisterSuccess')}}
          </div>

          <div class="text-left">
        <span type="submit" class="btn btn-primary" (click)="register()"><span
          class="fa fa-user-circle-o"></span> {{this.translateService.getTranslatedItem('Register')}}</span>
          </div>
        </fieldset>
      </form>

    </div>
  </div>
</div>
